<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style1.css" type="text/css">
    <title>Plan</title>
</head>

<header>
        <%- include ('partials/header') %>
</header>

<body>
    <div class="plan-container">
        <table>
            <thead>
                <th colspan="2">Monday</th>
            </thead>

            <% workouts.forEach(workout => { %>
                <% if (workout.day == 1) { %>
                    <tr>
                        <td>
                            <%= workout.name %>
                        </td>
                        <td>
                            <form action="/plan/delete" method="POST">
                                <input type="hidden" name="workoutId" value="<%=workout.id%>">
                                <button type="submit">−</button>
                            </form>
                        </td>
                    </tr>
                <% } %>
            <% }) %>

            <tr>
                <td colspan="2">
                    <form action="/plan" method="POST">
                        <button type="submit" name="1">+</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <div class="plan-container">
        <table>
            <thead>
                <th>Tuesday</th>
            </thead>

            <% workouts.forEach(workout => { %>
                <% if (workout.day == 2) { %>
                    <tr>
                        <td>
                            <%= workout.name %>
                        </td>
                    </tr>
                <% } %>
            <% }) %>

            <tr>
                <td>
                    <form action="/plan" method="POST">
                        <button type="submit" name="2">+</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <div class="plan-container">
        <table>
            <thead>
                <th>Wednesday</th>
            </thead>

            <% workouts.forEach(workout => { %>
                <% if (workout.day == 3) { %>
                    <tr>
                        <td>
                            <%= workout.name %>
                        </td>
                    </tr>
                <% } %>
            <% }) %>

            <tr>
                <td>
                    <form action="/plan" method="POST">
                        <button type="submit" name="3">+</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <div class="plan-container">
        <table>
            <thead>
                <th>Thursday</th>
            </thead>

            <% workouts.forEach(workout => { %>
                <% if (workout.day == 4) { %>
                    <tr>
                        <td>
                            <%= workout.name %>
                        </td>
                    </tr>
                <% } %>
            <% }) %>

            <tr>
                <td>
                    <form action="/plan" method="POST">
                        <button type="submit" name="4">+</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <div class="plan-container">
        <table>
            <thead>
                <th>Friday</th>
            </thead>

            <% workouts.forEach(workout => { %>
                <% if (workout.day == 5) { %>
                    <tr>
                        <td>
                            <%= workout.name %>
                        </td>
                    </tr>
                <% } %>
            <% }) %>

            <tr>
                <td>
                    <form action="/plan" method="POST">
                        <button type="submit" name="5">+</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <div class="plan-container">
        <table>
            <thead>
                <th>Saturday</th>
            </thead>

            <% workouts.forEach(workout => { %>
                <% if (workout.day == 6) { %>
                    <tr>
                        <td>
                            <%= workout.name %>
                        </td>
                    </tr>
                <% } %>
            <% }) %>

            <tr>
                <td>
                    <form action="/plan" method="POST">
                        <button type="submit" name="6">+</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <div class="plan-container">
        <table>
            <thead>
                <th>Sunday</th>
            </thead>

            <% workouts.forEach(workout => { %>
                <% if (workout.day == 7) { %>
                    <tr>
                        <td>
                            <%= workout.name %>
                        </td>
                    </tr>
                <% } %>
            <% }) %>

            <tr>
                <td>
                    <form action="/plan" method="POST">
                        <button type="submit" name="7">+</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>